<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>微课堂 - 后台管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/public/page_style.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="layui-layout-body" id="container">

    <div class="layui-fluid">

        <div class="tips_box">
            带 <span style="color: red;">*</span> 为必填项
        </div>

        <form id="add_form" class="layui-form" action="" lay-filter="formDemo">
            <input type="hidden" name="id" value="{$data.id}">

            <div class="layui-form-item">
                <label class="layui-form-label"><span class="form_important">*</span> 分类名称</label>
                <div class="layui-input-block" style="width: 70%;">
                    <input type="text" name="name" required value="{$data.name}" lay-verify="required" placeholder="请输入分类名称" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span class="form_important">*</span> 分类标签</label>
                <div class="layui-input-block" style="width: 50%;">
                    <input type="text" id="label" name="label" required value="{$data.label}" lay-verify="required" placeholder="请输入分类标签" {if condition="$data.parent_id neq 0" }readonly="disabled" {/if} autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">分类图片</label>
                <div class="layui-input-block" style="width: 80%;">
                    <button type="button" class="layui-btn" id="selectfiles"><i class="layui-icon">&#xe654;</i>选择图片</button>
                    <button type="button" class="layui-btn" id="postfiles"><i class="layui-icon"></i>上传图片</button>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">上传结果</label>
                <div class="layui-input-block">
                    <a id="ossfile" href="{$data.back_img}" data-url="{$data.back_img}" style="display: block;height: 36px;line-height: 36px;" target="_blank">{if condition="$data['back_img']"}查看{else}等待上传{/if}</a>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">上级分类</label>
                <div class="layui-input-block" style="width: 70%;">
                    <select lay-filter="parent_id" name="parent_id" lay-verify="required">
                    <option value="0">顶级分类</option>
                    {notempty name='list'}
                        {volist name='list' id='vo'}
                        <option label="{$vo.label}" value="{$vo.id}" {if condition="$vo.id eq $data.parent_id"}selected{/if} >{$vo.name}</option>
                        {/volist}
                    {/notempty}
                </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block" style="width: 70%;">
                    <input type="text" name="sort" value="{$data.sort}" placeholder="输入排序的需要，数值越小越靠前" lay-verify="number" class="layui-input" autocomplete="off">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">推荐到首页</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="state" lay-skin="switch" value="{$data.state}" lay-text="是|否" lay-filter="state" {if condition="$data.state eq 1" }checked{/if}>
                </div>
            </div>

            <input id="media_path" type="hidden" name="media_path" value="{$data.back_img}">

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>


    </div>


    <script src="/static/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="/lib/upload.js"></script>
    <script src="/static/layui/layui.js"></script>

    <script>
        layui.use(['form', 'jquery'], function() {
            var form = layui.form;
            var $ = layui.jquery;

            // 监听 置顶开关
            form.on('switch(state)', function(data) {
                if (data.elem.checked) {
                    data.elem.value = 1;
                } else {
                    data.elem.value = 0;
                }
            });

            // 表单提交
            form.on('submit(formDemo)', function(data) {
                // 获取所有表单数据
                var formData = data.field;
                formData.media_path = document.getElementById('ossfile').getAttribute('data-url');
                // 数据提交
                $.ajax({
                    url: '/console/CourseClassify/editClassify',
                    type: 'POST',
                    data: formData,
                    success: function(result) {
                        if (result.code == 200) {
                            layer.msg(result.msg, {
                                icon: 6
                            });
                            // 添加成功，关闭弹窗
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        } else {
                            layer.msg(result.msg, {
                                icon: 5
                            });
                        }
                    },
                    error: function() {
                        layer.msg('网络错误！', {
                            icon: 5
                        });
                    }
                });

                return false;
            });

            form.on('select(parent_id)', function(data) {
                var label = data.elem[data.elem.selectedIndex].label;

                $('#label').val(label).attr('readonly', 'disabled');
            });
        });
    </script>

</body>

</html>