<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>微课堂 - 后台管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/public/page_style.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="layui-layout-body">

    <div class="layui-fluid" style="height: 50%; overflow: auto" id="container">

        <div class="tips_box">
            带 <span style="color: red;">*</span> 为必填项
        </div>

        <form id="add_form" class="layui-form" action="" lay-filter="formDemo">

            <div class="layui-form-item">
                <label class="layui-form-label"><span class="form_important">*</span> 媒体类型</label>
                <div class="layui-input-block" style="width: 70%;">
                    <input type="radio" name="media_type" lay-filter="mediaType" value="audio" title="音频" checked>
                    <input type="radio" name="media_type" lay-filter="mediaType" value="video" title="视频">
                    <input type="radio" name="media_type" lay-filter="mediaType" value="text" title="纯文本">
                </div>
            </div>

            <div class="layui-form-item" id="uploadAudio">
                <label class="layui-form-label">多媒体</label>
                <div class="layui-input-block" style="width: 70%;">
                    <button type="button" class="layui-btn" id="selectfiles"><i class="layui-icon">&#xe654;</i>选择音频</button>
                    <button type="button" class="layui-btn" id="postfiles"><i class="layui-icon"></i>上传音频</button>
                </div>
            </div>

            <div class="layui-form-item" id="uploadShow">
                <label class="layui-form-label">上传结果</label>
                <div class="layui-input-block">
                    <a id="ossfile" href="javascript:;" style="display: block;height: 36px;line-height: 36px;" target="_blank">等待上传</a>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">文本内容</label>
                <div class="layui-input-block">
                    <div id="editor" style="width: 92%"></div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block" style="width: 70%;">
                    <input type="text" name="sort" max="255" value="0" placeholder="输入排序的需要，数值越小越靠前" lay-verify="number" class="layui-input" autocomplete="off">
                </div>
            </div>

            <input type="hidden" name="cc_id" value="{$cc_id}">
            <input id="media_path" type="hidden" name="media_path" value="">

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>


    </div>

    <div id="cover" style="width: 100%;height: 100%;position: absolute;top: 0;background-color: rgba(255, 255, 255, 0.84);display: none;z-index: 9999">
        <div style="display: block;position: absolute;top: 40%;left: 8%;">
            <span style="color: #a09b9b;font-size: 17px;">文件正在上传，请稍后，文件越大，需要的时间越多（上传成功后该遮盖层会自动消失）</span><br/>
            <img src="/static/images/loading_2.gif" width="45px;" style="position: absolute;left: 44%;" alt="">
        </div>
    </div>


    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/wangEditor/wangEditor.js"></script>
    <script type="text/javascript" src="/lib/plupload-2.1.2/js/plupload.full.min.js"></script>
    <script type="text/javascript" src="/lib/uploadChapter.js"></script>
    <script src="/static/layui/layui.js"></script>

    <script>
        layui.use(['form', 'jquery'], function() {
            var form = layui.form;
            var $ = layui.jquery;
            form.on('radio', function(data) {
                if (data.value == 'text') {
                    $('uploadAudio').hide();
                    $('uploadShow').hide();
                } else {
                    $('uploadAudio').show();
                    $('uploadShow').show();
                }
            });
            // wangEditor富文本编辑器
            var E = window.wangEditor;
            var editor = new E('#editor');
            // 自定义菜单配置
            editor.customConfig.menus = [
                'head', // 标题
                'bold', // 粗体
                'fontSize', // 字号
                'fontName', // 字体
                'italic', // 斜体
                'underline', // 下划线
                'strikeThrough', // 删除线
                'foreColor', // 文字颜色
                'backColor', // 背景颜色
                'link', // 插入链接
                'list', // 列表
                'justify', // 对齐方式
                'quote', // 引用
                'image', // 插入图片
                'table', // 表格
                'undo', // 撤销
                'redo' // 重复
            ];

            editor.customConfig.colors = [
              '#000000',
              '#ffffff',
              '#eeece4',
              '#9c9c9c',
              '#636363',
              '#666666',
              '#1c487f',
              '#4d80bf',
              '#c24f4a',
              '#8baa4a',
              '#7b5ba1',
              '#46acc8',
              '#f9963b'
            ];

            // 隐藏“网络图片”tab
            editor.customConfig.showLinkImg = false;
            // 配置服务器端地址
            editor.customConfig.uploadImgMaxLength = 1
            editor.customConfig.uploadFileName = 'file';
            editor.customConfig.uploadImgServer = '/console/Common/file_update'
            editor.customConfig.uploadImgParams = {
                type: 'images'
            }
            editor.customConfig.uploadImgHooks = {
                customInsert: function(insertImg, result, editor) {
                    // 图片上传并返回结果，自定义插入图片的事件（而不是编辑器自动插入图片！！！）
                    // insertImg 是插入图片的函数，editor 是编辑器对象，result 是服务器端返回的结果

                    if (result.code == 200) {
                        var url = result.data.url;
                        insertImg(url);
                    } else {
                        layer.msg(result.msg, {
                            icon: 5
                        });
                    }

                    // 举例：假如上传图片成功后，服务器端返回的是 {url:'....'} 这种格式，即可这样插入图片：
                    // var url = result.url
                    // insertImg(url)

                    // result 必须是一个 JSON 格式字符串！！！否则报错
                }
            }

            // 将图片大小限制为 3M
            editor.customConfig.uploadImgMaxSize = 30 * 1024 * 1024;
            editor.create();
            var editorId = editor.textElemId;
            $("#" + editorId).parent().css('height', "200px");
            $("#" + editorId).parent().css('z-index', "9");

            var toolId = editor.toolbarElemId;
            $("#" + toolId + " > div").css('z-index', '10');


            var uploadInst;
            var fileName = '';


            // 媒体类型选择
            form.on('radio(mediaType)', function(data) {
                if (data.value != 'text') {
                    uploadInst.config.accept = data.value;
                }
            });


            // 表单提交
            form.on('submit(formDemo)', function(data) {
                // 获取所有表单数据
                var formData = data.field;
                formData.media_path = document.getElementById('ossfile').getAttribute('data-url');
                // 删除一个属性
                delete formData.file;

                if (formData.media_type != 'text') {
                    if (formData.media_path == '') {
                        layer.msg('请根据所选择的多媒体类型上传文件', {
                            icon: 5
                        });
                        return false;
                    }
                }

                // 获取富文本框的内容
                formData.content = editor.txt.html();

                formData.file_name = fileName;



                // 数据提交
                $.ajax({
                    url: '/console/CurriculumChapter/ajaxAddContent',
                    type: 'POST',
                    data: formData,
                    success: function(result) {
                        if (result.code == 200) {
                            layer.msg(result.msg, {
                                icon: 6
                            });
                            // 添加成功，关闭弹窗
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        } else {
                            layer.msg(result.msg, {
                                icon: 5
                            });
                        }
                    },
                    error: function() {
                        layer.msg('网络错误！', {
                            icon: 5
                        });
                    }
                });

                return false;
            });


        });
    </script>

</body>

</html>