<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>微课堂 - 管理后台</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/public/page_style.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .layui-table-view{
            min-height: 0;
        }
    </style>

</head>
<body class="layui-layout-body" style="overflow: auto;">

    <div class="layui-fluid" style="padding-top: 15px;">

        <!-- 标题 -->
        <div class="layui-col-md12 layui-col-lg12" style="border-bottom: 3px solid #393D49!important;margin-bottom: 15px;">
                <span class="main_title" style="width: 75px;">
                    章节管理
                </span>
        </div>

        <!-- 按钮/筛选 -->
        <div class="layui-col-md12 layui-col-lg12">
            <blockquote class="layui-elem-quote" style="border-left:none;">
                <div class="float_left" style="width: 100px;">
                    <a class="layui-btn layui-btn-normal add_but" href="javascript:;">添加章节</a>
                </div>
                <form class="layui-form float_right" action="" lay-filter="search_form">
                    <div class="layui-inline">
                        <input class="layui-input" name="cp_id" autocomplete="off" placeholder="课程编号查询">
                    </div>
                    <div class="layui-inline">
                        <input class="layui-input" name="title" autocomplete="off" placeholder="章节名称查询">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn search_but" data-type="reload">搜索</button>
                    </div>
                </form>
                <div style="clear: both"></div>
            </blockquote>
        </div>


        <!-- 表格主体 -->
        <div class="layui-col-md12 layui-col-lg12">
            <table id="table_box" lay-filter="test"></table>
        </div>

    </div>


    <script type="text/html" id="mediaBox">
        {{# if(d.media_type != 'text') { }}
        <a href="{{d.media_path}}" target="_blank" class="layui-btn layui-btn-xs">播放多媒体文件</a>
        {{# } }}
    </script>


    <!-- 表格工具条 -->
    <script type="text/html" id="barDemo">

        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    </script>


    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/layui/layui.js"></script>

    <script>
        layui.use(['table', 'form', 'jquery'], function(){
            var table = layui.table;
            var form = layui.form;
            var $ = layui.jquery;

            //第一个实例
            var tableOjb = table.render({
                elem: '#table_box'
                ,id: 'tableList'
                ,url: '/console/CurriculumChapter/getChapterList/' //数据接口
                ,page: true //开启分页
                ,limit: 10 // 每页显示数量
                ,cols: [[ //表头
                    {field: 'id', title: 'ID', width:'5%', sort: true, fixed: 'left'}
                    ,{field: 'cl_name', title: '所属课程', width:'15%'}
                    ,{field: 'title', title: '章节名称', width:'20%'}
                    ,{field: 'media_type_name', title: '媒体类型', width:'6%', align: 'center'}
                    ,{field: 'media_path', title: '媒体查看', width: '10%', align: 'center', templet: '#mediaBox'}
                    ,{field: 'sort', title: '排序', width: '4%', sort: true}
                    ,{field: 'is_time', title: '添加时间', width: '10%', sort: true}
                    ,{field: 'study_num', title: '学习人数', width: '6%'}
                    ,{field: 'test_type_str', title: '测验题型', width: '6%', align: 'center'}
                    ,{fixed: 'right', title: '操作',  align:'center', toolbar: '#barDemo'}
                ]],
                text: {
                    none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
                },
                response: {
                    statusCode: 200 // 异步成功状态码200
                },
            });


            // 监听工具条
            table.on('tool(test)',function(obj){

                // 获取点击记录数据ID
                var id = obj.data.id;
                // 获取点击表格tr行对象
                var tr = obj.tr;

                // 编辑
                if(obj.event == 'edit'){

                    var index = layer.open({
                        title : '记录编辑',
                        type : 2,
                        area: ['80%', '830px'],
                        offset: '30px',
                        content : ['/console/CurriculumChapter/edit?id=' + id, 'no'],
                        success: function(layero, index) {
                            layer.iframeAuto(index);
                        },
                        cancel : function () {  // 层关闭触发
                            // 弹框关闭，重载表单
                            tableOjb.reload();
                        },
                        end : function () {  // 层销毁触发
                            // 弹框关闭，重载表单
                            tableOjb.reload();
                        },
                    });

                }

                // 删除
                if(obj.event == 'del'){

                    layer.confirm('确定要删除该章节吗?', function(index){
                        layer.close(index); // 关闭弹框

                        //向服务端发送删除指令
                        $.ajax({
                            url: "/console/CurriculumChapter/delChapter",
                            type: 'POST',
                            data: {id:id},
                            success: function(result){
                                if(result.code == 200){
                                    layer.msg(result.msg, {icon: 6});
                                    obj.del(); // 删除对应行（tr）的DOM结构，并更新缓存

                                }else{
                                    layer.msg(result.msg, {icon: 5});
                                }

                            },
                            error: function(){
                                layer.msg('网络错误！', {icon: 5});
                            }
                        });

                    });

                }

            });


            $(".add_but").on('click',function(){
                var index = layer.open({
                    title : '添加章节',
                    type : 2,
                    area: ['80%', '830px'],
                    offset: '30px',
                    content : ['/console/CurriculumChapter/add', 'no'],
                    success: function(layero, index) {
                        layer.iframeAuto(index);
                    },
                    cancel : function () {  // 层关闭触发
                        // 弹框关闭，重载表单
                        tableOjb.reload();
                    },
                    end : function () {  // 层销毁触发
                        // 弹框关闭，重载表单
                        tableOjb.reload();
                    },
                });
            })



            // 搜索 表格重载
            $(".search_but").on('click',function(){

                var id = $("input[name='cp_id']").val();
                var title = $("input[name='title']").val();


                if(isNaN(id)){
                    layer.msg('编号请输入数字！', {icon: 5});
                    return false;
                }

                // console.log(tableOjb.config.url);return false; // url
                // console.log(tableOjb.config.page.curr);return false; // 当前页数

                table.reload('tableList',{
                    page: {
                        curr: 1 //重新从第 1 页开始
                    },
                    where: {
                        id: id,
                        title: title
                    }
                });


                return false;

            });

        });
    </script>


</body>
</html>