<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>微课堂 - 后台管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/public/page_style.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .layui-form-select dl {
            max-height: 220px;
        }
    </style>

</head>

<body class="layui-layout-body">

    <div class="layui-fluid">

        <div class="tips_box">
            带 <span style="color: red;">*</span> 为必填项
        </div>

        <form id="add_form" class="layui-form" action="" lay-filter="formDemo">



            <!-- 三级联动，分类-课程-章节 -->
            <div class="layui-form-item">
                <label class="layui-form-label"><span class="form_important">*</span> 所属章节</label>
                <div class="layui-input-inline">
                    <select id="classify_select" name="cl_id" lay-filter="classify_select">
                    <option value="0">请选择分类</option>
                    {notempty name='list'}
                        {volist name='list' id='vo'}
                            <option value="{$vo.id}">├ {$vo.name}</option>
                            {notempty name='vo.child'}
                                {volist name='vo.child' id='v'}
                                    <option value="{$v.id}">├──{$v.name}</option>
                                {/volist}
                            {/notempty}
                        {/volist}
                    {/notempty}
                </select>
                </div>
                <div class="layui-input-inline">
                    <select id="course_select" name="cp_id" lay-filter="course_select">
                    <option value="0">请先选择分类</option>
                </select>
                </div>
                <div class="layui-input-inline">
                    <select id="chapter_select" name="cc_id" lay-filter="chapter_select">
                    <option value="0">请先选择课程</option>
                </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label"><span class="form_important">*</span> 题目类型</label>
                <div id="test_type_box" class="layui-input-block" style="width: 70%;">
                    <input id="test_type_1" type="radio" name="is_type" lay-filter="is_type" value="1" title="阅读题" disabled>
                    <input id="test_type_2" type="radio" name="is_type" lay-filter="is_type" value="2" title="选择题" disabled>
                </div>
            </div>


            <div class="layui-form-item">
                <label class="layui-form-label"><span class="form_important">*</span> 题目</label>
                <div class="layui-input-block" style="">
                    <div id="editor" style="width: 92%"></div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-block" style="width: 70%;">
                    <input type="text" max="255" name="sort" value="0" placeholder="输入排序的需要，数值越小越靠前" lay-verify="number" class="layui-input" autocomplete="off">
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>


    </div>

    <div id="cover" style="width: 100%;height: 100%;position: absolute;top: 0;background-color: rgba(255, 255, 255, 0.84);display: none;z-index: 9999">
        <div style="display: block;position: absolute;top: 40%;left: 8%;">
            <span style="color: #a09b9b;font-size: 17px;">文件正在上传，请稍后，文件越大，需要的时间越多（上传成功后该遮盖层会自动消失）</span><br/>
            <img src="/static/images/loading_2.gif" width="45px;" style="position: absolute;left: 44%;" alt="">
        </div>
    </div>


    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/wangEditor/wangEditor.js"></script>
    <script src="/static/layui/layui.js"></script>

    <script>
        layui.use(['form', 'jquery', 'upload'], function() {
            var form = layui.form;
            var $ = layui.jquery;
            var upload = layui.upload;


            // wangEditor富文本编辑器
            var E = window.wangEditor;
            var editor = new E('#editor');
            // 自定义菜单配置
            editor.customConfig.menus = [
                'head', // 标题
                'bold', // 粗体
                'fontSize', // 字号
                'fontName', // 字体
                'italic', // 斜体
                'underline', // 下划线
                'strikeThrough', // 删除线
                'foreColor', // 文字颜色
                'backColor', // 背景颜色
                'link', // 插入链接
                'list', // 列表
                'justify', // 对齐方式
                'quote', // 引用
                'image', // 插入图片
                'table', // 表格
                'undo', // 撤销
                'redo' // 重复
            ];

            editor.customConfig.colors = [
                '#000000',
                '#ffffff',
                '#eeece4',
                '#9c9c9c',
                '#636363',
                '#1c487f',
                '#4d80bf',
                '#c24f4a',
                '#8baa4a',
                '#7b5ba1',
                '#46acc8',
                '#f9963b'
            ];
            // 隐藏“网络图片”tab
            editor.customConfig.showLinkImg = false;
            // 配置服务器端地址
            editor.customConfig.uploadImgServer = '/upload'
                // 将图片大小限制为 3M
            editor.customConfig.uploadImgMaxSize = 1 * 1024 * 1024;
            editor.create();
            var editorId = editor.textElemId;
            $("#" + editorId).parent().css('height', "200px");
            $("#" + editorId).parent().css('z-index', "9");

            var toolId = editor.toolbarElemId;
            $("#" + toolId + " > div").css('z-index', '10');



            // 课程三级联动
            // 分类下拉
            form.on('select(classify_select)', function(data) {
                // 获取选项ID
                var id = data.value;

                // 异步获取对应课程
                $.ajax({
                    url: '/console/Common/getSearchCourse',
                    type: 'POST',
                    data: {
                        id: id
                    },
                    success: function(result) {
                        if (result.code == 200) {
                            $("#course_select").html('<option value="0">请选择课程</option>');
                            // 获取成功  course_select
                            $.each(result.data, function(index, item) {
                                $("#course_select").append(new Option(item.title, item.id))
                            });

                            // 重置章节select
                            $('#chapter_select').html('<option value="0">请先选择课程</option>');

                            form.render('select');

                        } else {
                            console.log('cc');
                            $("#course_select").html('<option value="0">请重新选择分类</option>');
                            form.render('select');
                            layer.msg(result.msg, {
                                icon: 5
                            });
                        }
                    },
                    error: function() {
                        layer.msg('网络错误！', {
                            icon: 5
                        });
                    }

                });

            });

            // 三级下拉
            // 课程下拉
            form.on('select(course_select)', function(data) {
                // 获取课程ID
                var id = data.value;

                // 异步获取章节列表
                $.ajax({
                    url: '/console/Common/getSearchChapter',
                    type: 'POST',
                    data: {
                        id: id
                    },
                    success: function(result) {
                        if (result.code == 200) {
                            $("#chapter_select").html('<option value="0">请选择章节</option>');
                            // 获取成功  course_select
                            $.each(result.data, function(index, item) {
                                $("#chapter_select").append(new Option(item.title, item.id))
                            });

                            // 清空题型
                            $('#test_type_box').html();
                            $('#test_type_box').html('<input id="test_type_1" type="radio" name="is_type" lay-filter="is_type" value="1" title="阅读题" disabled>\n' +
                                '<input id="test_type_2" type="radio" name="is_type" lay-filter="is_type" value="2" title="选择题" disabled>');

                            form.render('radio');
                            form.render('select');
                        } else {
                            $("#chapter_select").html('<option value="0">请重新选择课程</option>');
                            form.render('select');
                            layer.msg(result.msg, {
                                icon: 5
                            });
                        }

                    },
                    error: function() {
                        layer.msg('网络错误！', {
                            icon: 5
                        });
                    }
                });

            });

            // 三级下拉
            // 章节选择
            form.on('select(chapter_select)', function(data) {
                // 获取章节ID
                var id = data.value;

                // 异步获取章节列表
                $.ajax({
                    url: '/console/Common/getChapterInfo',
                    type: 'POST',
                    data: {
                        id: id
                    },
                    success: function(result) {
                        if (result.code == 200) {
                            // 获取 测验题型
                            var test_type = result.data.test_type;

                            $('#test_type_box').html();

                            if (test_type == 1) {
                                $('#test_type_box').html('<input id="test_type_1" type="radio" name="is_type" lay-filter="is_type" value="1" title="阅读题" checked disabled>\n' +
                                    '<input id="test_type_2" type="radio" name="is_type" lay-filter="is_type" value="2" title="选择题" disabled>');
                            } else if (test_type == 2) {
                                $('#test_type_box').html('<input id="test_type_1" type="radio" name="is_type" lay-filter="is_type" value="1" title="阅读题" disabled>\n' +
                                    '<input id="test_type_2" type="radio" name="is_type" lay-filter="is_type" value="2" title="选择题" checked disabled>');
                            }

                            form.render('radio');
                        } else {
                            layer.msg(result.msg, {
                                icon: 5
                            });
                        }

                    },
                    error: function() {
                        layer.msg('网络错误！', {
                            icon: 5
                        });
                    }
                });
            });


            // 表单提交
            form.on('submit(formDemo)', function(data) {
                // 获取所有表单数据
                var formData = data.field;

                if ((formData.cl_id == 0 || formData.cl_id == '') || (formData.cp_id == 0 || formData.cp_id == '') || (formData.cc_id == 0 || formData.cc_id == '')) {
                    layer.msg('请完整选择所属章节', {
                        icon: 5
                    });
                    return false;
                }

                // 获取富文本框的内容
                if (editor.txt.text()) {
                    if (formData.is_type == 1) {
                        formData.topic = editor.txt.html();
                    } else {
                        formData.topic = editor.txt.text();
                    }
                } else {
                    layer.msg('请输入题目内容！', {
                        icon: 5
                    });
                    return false;
                }

                // console.log(formData);return false;


                // 数据提交
                $.ajax({
                    url: '/console/CurriculumTest/addTest',
                    type: 'POST',
                    data: formData,
                    success: function(result) {
                        if (result.code == 200) {
                            layer.msg(result.msg, {
                                icon: 6
                            });
                            // 添加成功，关闭弹窗
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        } else {
                            layer.msg(result.msg, {
                                icon: 5
                            });
                        }
                    },
                    error: function() {
                        layer.msg('网络错误！', {
                            icon: 5
                        });
                    }
                });

                return false;
            });


        });
    </script>

</body>

</html>