<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>微课堂 - 管理后台</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/public/page_style.css">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        .layui-table-view{
            min-height: 0;
        }
    </style>

</head>
<body class="layui-layout-body" style="overflow: auto;">

<div class="layui-fluid" style="padding-top: 15px;">


    <!-- 表格主体 -->
    <div class="layui-col-md12 layui-col-lg12">
        <table id="table_box" lay-filter="test"></table>
    </div>

</div>

<input id="test_id" type="hidden" name="id" value="{$id}">

<!-- 表格工具条 -->
<script type="text/html" id="barDemo">

    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

</script>


<script src="/static/jquery-3.3.1.min.js"></script>
<script src="/static/layui/layui.js"></script>

<script>
    layui.use(['table', 'form', 'jquery'], function(){
        var table = layui.table;
        var form = layui.form;
        var $ = layui.jquery;

        //第一个实例
        var tableOjb = table.render({
            elem: '#table_box'
            ,url: '/console/CurriculumTest/api_view_Option/?id='+$("#test_id").val() //数据接口
            ,page: true //开启分页
            ,limit: 10 // 每页显示数量
            ,cols: [[ //表头
                {field: 'id', title: 'ID', width:'55', sort: true, fixed: 'center'}
                ,{field: 'option_str', title: '选项内容', width:'150'}
                ,{field: 'state_str', title: '选项结果', width:'86', align: 'center'}
                ,{field: 'analyze', title: '答案解析', width:'180'}
                ,{field: 'sort', title: '排序', width: '65', sort: true}
                ,{field: 'is_time', title: '添加时间', width: '160', sort: true}
                ,{fixed: 'right', title: '操作', width: '65',  align:'center', toolbar: '#barDemo'}
            ]],
            text: {
                none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
            },
            response: {
                statusCode: 200 // 异步成功状态码200
            },
        });


        // 监听工具条
        table.on('tool(test)',function(obj){

            // 获取点击记录数据ID
            var id = obj.data.id;
            // 获取点击表格tr行对象
            var tr = obj.tr;


            // 删除
            if(obj.event == 'del'){

                layer.confirm('确定要删除该选项吗?', function(index){
                    layer.close(index); // 关闭弹框

                    //向服务端发送删除指令
                    $.ajax({
                        url: "/console/CurriculumTest/delOption",
                        type: 'POST',
                        data: {id:id},
                        success: function(result){
                            if(result.code == 200){
                                obj.del(); // 删除对应行（tr）的DOM结构，并更新缓存
                                tableOjb.reload();
                                layer.msg(result.msg, {icon: 6});
                            }else{
                                layer.msg(result.msg, {icon: 5});
                            }

                        },
                        error: function(){
                            layer.msg('网络错误！', {icon: 5});
                        }
                    });

                });

            }

        });


    });
</script>


</body>
</html>